/*==========================================================
    CONTAINERS
==========================================================*/

.container{

    width:min(100% - 2rem,var(--container-lg));

    margin-inline:auto;

}

.container-sm{

    width:min(100% - 2rem,700px);

    margin-inline:auto;

}

.container-md{

    width:min(100% - 2rem,960px);

    margin-inline:auto;

}

.container-lg{

    width:min(100% - 2rem,var(--container-xl));

    margin-inline:auto;

}

.container-fluid{

    width:100%;

    padding-inline:1rem;

}